.dish-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish-item {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 40px;
    padding-right:40px;
    padding-top:30px;
    padding-bottom: 30px;
    border-radius: 35px;
    background-color: white;
    cursor: pointer;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.dish-item p {
    margin-top: 10px;
}

.dish-item:hover { 
    border: solid 2px tomato;
}

.dish-item img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.dish-item p:nth-child(2) {
    font-size: 18px;
  }
  
.dish-item p:nth-child(1) {
    font-size: 18px;
  }
  
.dish-item p:nth-child(4) {
    color: grey;
  }

.dish-item button {
    background-color: #fce0af    ;
    display: flex; 
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    border: 0px;
    align-self: center;
    border-radius: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right:30px; 
    line-height: 0px;
    font-size: 12px;
    font-weight: 500;
    position:relative;
    bottom:15px;
    cursor:pointer;
}

.dish-item:hover button{
    background-color: orange;
}


.nav {
    display: flex;
    gap: 15px;
}

@media (max-width: 800px) {
    .soup,.dish,.drink {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center; 
    }
    main{
        margin-top: 50px;
    }
    h2{
        text-align: center;
    }

    nav h2 {
        flex-direction: column; 
        text-align: center; 
    }

    nav a {
        text-align: center;
        font-size: 16pt; 
    }
    .soup, .dish, .drink {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px){
    .soup, .dish, .drink{
        grid-template-columns: repeat(1,1fr);
    }
    main{
        margin-top: 100px;
    }
}

.form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
}

.order-form {
    display: flex;
    justify-content: space-between;
}

.client-order, .client-data {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-basis: 45%;
    margin: 20px;
}

.input-container, .select-container, .checkbox-container {
    margin-bottom: 20px;
}

.input-container label, .select-container, .comment-container label {
    display: block;
    margin-bottom: 10px;
}

.input-container input, .input-container textarea, .comment-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.time-containert {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time-container input[type="radio"] {
    margin-right: 5px;
}

.select-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-container button[type="reset"],
.btn-container button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-container button:hover {
    background-color: #0056b3;
}

.time-container input[type="radio"] {
    accent-color: #007bff;
}

.delivery, .available-time {
    font-size: 14px;
    color: #666;
    font-style: italic;
}

h3 {
    font-size: 22px;
    text-align: center;
}

@media (max-width: 768px) {
    .order-form {
        grid-template-columns: 1fr;
    }
}

h4 {
    font-size: 22px;
}

.p1 {
    font-size: 30px;
}

.filter-btns {
    display: flex;
    gap: 10px;
    margin: 20px;
  }
  
.filter-btns button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 16px;
  }
  
.filter-btns button:hover {
    background-color: orange;
    border-color: orange;
    color: #333;
  }
  
.filter-btns button.active {
    background-color: orange;
    color: #333;
    border-color: orange;
  }

  .combo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.combo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.combo-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.combo-item img {
  transition: all 0.3s ease-in-out;
  width: 100px;
}

.combo-item img:hover {
  transform: translateY(-5px) scale(1.1);
}

.combo-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.combo-item-content span {
  font-size: 16px;
}

.combo-item-content p {
  margin: 0px;
  font-size: 14px;
  font-style: italic;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
}

.notification .close-btn {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.notification .close-btn:hover {
    background-color: #e04040;
    color: yellow;
}